.wrapper {
  padding: 2.25rem 1.25rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.header {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  flex-grow: 1;
}
