.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--yrgo-white);
  background: var(--color-brand-blue, #001a52);
  border-radius: var(--nr-3, 16px);
  gap: var(--gap-md);
  padding: var(--p-md);
}

.readMore {
  text-decoration: none;
  color: var(--yrgo-white);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}

.radioContainer {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.label {
  display: flex;
  flex-direction: row;
  gap: 15px;
  user-select: none;
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-brand-blue, #001a52);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: var(--yrgo-white);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Enable Focus for extra visibility - temporarily highlights selected option */
/* .radioButton[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  } */
