.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap-md);
  flex-grow: 1;
  padding-right: var(--p-sm);

  overflow-y: auto;
  scroll-behavior: smooth;
  overscroll-behavior: contain;

  /* Firefox */
  scrollbar-color: var(--yrgo-grey-300) transparent; /* thumb and track color */
  scrollbar-width: thin; /* width of the scrollbar */

  /* width */
  &::-webkit-scrollbar {
    width: 0.25rem;
    height: 7.5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
    border-radius: 100vmax;
  }

  &::-webkit-scrollbar-track-piece {
    background: none;
    border-radius: 100vmax;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--yrgo-grey-300);
    border-radius: 100vmax;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.fade {
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.title {
  color: var(--yrgo-black);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: capitalize;
}

.paragraph {
  color: var(--yrgo-black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
