.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-md);
  justify-content: center;
  height: 100%;
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: #d9d9d9;
  border-radius: var(--nr-3, 16px);
  padding: var(--p-md);
  height: 100%;
  transition: 0.3s;

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.01125rem;
  text-transform: capitalize;
}

.disabled {
  transition: 0.3s;
  filter: brightness(0.8);
  cursor: default;
}
