.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--yrgo-red);
  color: var(--yrgo-white);
  padding: var(--p-xs) var(--p-md);
  border-radius: 100vmax;
}
