.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  border-radius: var(--rounded-xl);
  border: var(--backdrop-border);
  background-color: var(--backdrop-background);
  backdrop-filter: var(--backdrop-backdrop-filter);
  padding: var(--p-md);
  margin-top: var(--m-xl);
}

.pill-container {
  display: flex;
  gap: var(--gap-xs);
}

.pill {
  transition: flex-grow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.27);
  background-color: var(--yrgo-white);
  flex-grow: 1;
  height: 10px;
  border-radius: 100vmax;
}

.pill-selected {
  transition: flex-grow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.27);
  background-color: var(--yrgo-red);
  flex-grow: 2;
}

.content {
  flex-grow: 1;
}
