.container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
  gap: var(--gap-md);
  padding: var(--p-md);

  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scroll-snap-type: y mandatory;
  scroll-padding-top: var(--p-md);
}

.container::-webkit-scrollbar {
  display: none;
}
