.container {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: var(--yrgo-black);
  background: var(--yrgo-grey);
  border-radius: var(--nr-3, 16px);
  gap: var(--gap-md);
  padding: var(--p-md);
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.placeholderCircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: darkgrey;
}
