.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);

  padding: var(--p-md);
  border-radius: var(--rounded-md);
  border: var(--backdrop-border);
  background-color: var(--backdrop-background);
  backdrop-filter: var(--backdrop-backdrop-filter);
  color: var(--yrgo-white);
}

.default {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.profile .content {
  flex-direction: column;
  gap: var(--gap-md);
}

.profile .content > div:first-child {
  border: 5px solid var(--yrgo-white);
}

.profile .title {
  font-size: 1.9375rem;
  font-weight: 700;
  line-height: 2.25rem;
  text-align: center;
}

.profile .paragraph {
  text-align: center;
  text-decoration: underline;
}

.content {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.avatar {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 100vmax;
  overflow: hidden;
  flex-shrink: 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: capitalize;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--yrgo-white);
  word-break: break-all;
}

.paragraph a {
  color: var(--yrgo-white);
}

.saved {
  fill: var(--yrgo-white);
  stroke: var(--yrgo-white);
}

.fade {
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

@media (min-width: 760px) {
  .profile {
    flex-direction: row-reverse;
    padding: var(--p-xl);
  }

  .profile .content {
    flex-direction: row;
  }

  .profile .avatar {
    width: 13rem;
    height: 13rem;
  }

  .profile .title,
  .profile .paragraph {
    text-align: start;
  }

  .profile .content > div:first-child {
    border: 8px solid var(--yrgo-white);
  }
}
