.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);

  padding: var(--p-md);
  border-radius: var(--rounded-sm);
  border: var(--backdrop-border);
  background-color: var(--backdrop-background);
  backdrop-filter: var(--backdrop-backdrop-filter);
  color: var(--yrgo-white);

  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.content {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.fade {
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: capitalize;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.saved {
  fill: var(--yrgo-white);
  stroke: var(--yrgo-white);
}
