.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: var(--rounded-md);
  background-color: none;
  color: var(--yrgo-white);
  gap: var(--gap-md);
}

.form {
  display: flex;
  flex-direction: column;
  color: var(--yrgo-white);
  gap: var(--gap-lg);
}

.elementContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: var(--gap-md);
}

.radioBg {
  background-color: var(--yrgo-dark-blue);
  border-radius: 0.75em;
  padding: var(--p-sm);
  border: 1px solid white;
}

.editImage {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-md);
}

.editImage label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-md);
}

.editImgParagraph {
  text-decoration: underline;
}

.avatar {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 100vmax;
  overflow: hidden;
  border: 5px solid var(--yrgo-white);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3xl);
  margin-bottom: var(--m-3xl);
}

.form .card:nth-last-child(2) {
  margin-bottom: 0;
}

.card:nth-child(2) .section section {
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.field label {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  color: var(--yrgo-white);
}

.location {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  flex-grow: 1;
  aspect-ratio: 9/11.5;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.geoContainer {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  gap: var(--gap-md);
  aspect-ratio: 1/1;
}

.geoContainer > div {
  grid-row: span 12;
  padding: 0;
}

.keywordsContainer {
  display: grid;
  grid-template-rows: repeat(12, 1fr);

  max-height: 620px;
}

.keywordsContainer > section {
  grid-row: span 12;
}

@media (min-width: 760px) {
  .avatar {
    width: 13rem;
    height: 13rem;
  }
}
