.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-sm);
  border: var(--backdrop-border);
  background-color: var(--backdrop-background);
  backdrop-filter: var(--backdrop-backdrop-filter);
  padding: var(--p-md);
  gap: var(--gap-md);
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.inputField {
  border: 1px solid var(--yrgo-white);
  background-color: var(--yrgo-grey);
  color: var(--yrgo-black);
  padding: var(--p-sm);
  box-shadow: none;
  border-radius: 0.75em;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}

.editImage {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
