.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);

  max-width: 67.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 2.25rem 1.25rem;
}

@media (min-width: 760px) {
  .container {
    padding-top: 4.5rem;
    gap: var(--gap-lg);

    height: calc(100vh - 96px);
  }
}
