.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}

h1 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 34px;
  margin: 0;
}

p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
}
