.container {
  padding: 0 1.5rem 2.25rem 1.25rem;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: var(--yrgo-white);
}

.hero {
  height: calc(100vh - 84px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--p-md);
  padding-top: 0;
}

.hero .content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.hero .content h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.hero .content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  margin-bottom: 3.25rem;
  color: var(--yrgo-grey-300);
}

/* Event info section */
.info-container p {
  margin-bottom: 3.25rem;
}

.arena-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-sm);
}

@media (min-width: 760px) {
  .here {
    height: calc(100vh - 96px);
  }
}
