.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: var(--rounded-md);
  border: var(--backdrop-border);
  background-color: var(--backdrop-background);
  backdrop-filter: var(--backdrop-backdrop-filter);
  color: var(--yrgo-white);
  padding: var(--p-md);
}
