.container {
  border-radius: var(--rounded-sm);
  border: var(--backdrop-border);
  background-color: var(--backdrop-background);
  backdrop-filter: var(--backdrop-backdrop-filter);
  padding: var(--p-md);
}
