.checkboxContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.label {
  display: flex;
  flex-direction: row;
  padding: var(--p-md);
  gap: 15px;
  border-bottom: 1px solid var(--yrgo-white);
}

.label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--yrgo-grey);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid currentColor;
  border-radius: 15%;
  display: grid;
  place-content: center;
}

.label input[type="checkbox"]::before {
  content: url("/check.svg");
  transform: scale(0) translateY(3px);
  transition: 0.15s transform ease-in-out;
  color: var(--yrgo-black);
}

.label input[type="checkbox"]:checked::before {
  transform: scale(0.6) translateY(3px);
}
