.header {
  margin-top: var(--m-md);

  display: flex;
  flex-direction: column;
  gap: var(--gap-md);

  z-index: 5;
}

.header .menu {
  position: relative;

  border-radius: var(--rounded-md);
  padding: var(--p-sm);
  border: var(--backdrop-border);
  background-color: var(--backdrop-background);
  backdrop-filter: var(--backdrop-backdrop-filter);
  color: var(--yrgo-white);

  display: flex;
  gap: var(--gap-sm);
}

.trigger {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.25rem;

  display: flex;
  align-items: center;
  gap: var(--gap-md);
  padding: 0 var(--p-md);
  border-radius: var(--rounded-sm);
  width: 50%;
  cursor: pointer;
  user-select: none;
}

.wrapper {
  position: absolute;
  top: calc(100% + var(--gap-md));
  left: 0;
  z-index: 10;

  height: calc(100vh - 84px - 48px - 108px - 16px);
  width: 100%;

  overflow: hidden;
  border-radius: var(--rounded-md);
}

.content {
  position: relative;
  transform: translateY(0);
  transition: all 0.4s ease;

  display: flex;
  flex-direction: column;
  padding: var(--p-md) 0;
  height: calc(100vh - 84px - 48px - 108px - 16px);
  width: 100%;

  color: var(--yrgo-black);
  background-color: var(--yrgo-grey-100);
}

.up {
  transform: translateY(-100%);
  transition: all 0.4s ease;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--p-md) var(--p-md) var(--p-md) 0;
  cursor: pointer;
}

.option .trigger {
  font-size: 1.25rem;
}

.option > div:first-child {
  width: fit-content;
}

.separator {
  height: 1px;
  width: calc(100% - 32px);
  margin: 0 auto;
  background-color: var(--yrgo-black);
}

.side {
  position: absolute;
  flex-direction: column;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 1fr);
  gap: var(--gap-md);

  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;

  overflow: hidden;

  background-color: var(--yrgo-grey-100);
  padding: var(--p-md) 0;

  transition: all 0.3s ease-in-out;
}

.side > :first-child {
  grid-row: span 13;
}

.side-open {
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}

.side .footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-md);
  width: calc(100% - 32px);
  margin: 0 auto;
}

.footer > button {
  width: 100%;
  outline: none !important;
}

@media (min-width: 760px) {
  .header {
    margin: 0 auto;
    margin-top: 4.5rem;

    flex-direction: row-reverse;
    justify-content: center;

    width: 100%;
    max-width: calc(23.625rem * 2 + var(--gap-md));
  }

  .header > div {
    width: 50%;
  }

  .trigger {
    font-size: 1.25rem;
  }
}
