.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 var(--p-md) var(--p-md) var(--p-md);
  max-height: 594px;
}

.content {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  gap: var(--gap-md);
  flex-grow: 1;
  flex-basis: 0;
  max-height: calc(100% - 67px);
}

.content > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: span 1;
}

.content > div {
  grid-row: span 5;
  max-height: 100%;
}

.title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  color: var(--yrgo-black);
}
