.container {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
  padding: var(--p-xl) var(--p-md);
  margin-top: 0;
  border: var(--backdrop-border);
  background-color: var(--backdrop-background);
  backdrop-filter: var(--backdrop-backdrop-filter);
  border-radius: var(--rounded-md);
  color: var(--yrgo-white);

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
}

.yrgo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.text {
  color: var(--yrgo-grey-300);
}

.title {
  font-size: 1rem;
  font-weight: 700;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.profiles {
  display: flex;
  justify-content: space-between;
}

.social-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}
