.container {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);

  background: var(--yrgo-white);
  padding: var(--p-md);
  border-radius: var(--rounded-sm);
  color: var(--yrgo-grey-500);
  outline-offset: 2px;
  cursor: pointer;
}

.container:focus-within {
  outline: 2px solid var(--yrgo-black);
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;

  font-size: 1rem;
  font-weight: 400;
  color: var(--yrgo-black);
}

.input::placeholder {
  color: var(--yrgo-grey-500);
}
