:root {
  /* Colors */
  --yrgo-red: #f52a3b;
  --yrgo-dark-blue: #001a52;
  --yrgo-light-blue: #35d4d1;
  --yrgo-light-green: #c5ebd8;
  --yrgo-light-yellow: #fcfa58;
  --yrgo-grey: #e4e9eb8a;
  --yrgo-grey-600: #4f4f4f;
  --yrgo-grey-500: #828282;
  --yrgo-grey-300: #c4c4c4;
  --yrgo-grey-100: #f0f3f4;
  --yrgo-white: #ffffff;
  --yrgo-black: #333;

  /* Background */
  --circle-size: 100%;
  --blending: "hard-light";
  --color-red: 245, 42, 59;
  --color-blue: 0, 26, 82;
  --color-green: 197, 235, 216;

  /* Backdrop filter */
  --backdrop-border: 1px solid rgba(255, 255, 255, 0.15);
  --backdrop-background: rgba(255, 255, 255, 0.2);
  --backdrop-backdrop-filter: blur(64px);

  /* Spacing */
  --p-xs: 0.25rem;
  --p-sm: 0.5rem;
  --p-md: 1rem;
  --p-lg: 1.5rem;
  --p-xl: 2rem;
  --p-3xl: 4rem;

  --m-xs: 0.25rem;
  --m-sm: 0.5rem;
  --m-md: 1rem;
  --m-lg: 1.5rem;
  --m-xl: 2rem;

  --gap-xs: 0.25rem;
  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;
  --gap-xl: 2rem;

  --rounded-xs: 0.25rem;
  --rounded-sm: 0.5rem;
  --rounded-md: 1rem;
  --rounded-lg: 1.5rem;
  --rounded-xl: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
}

body {
  overflow-x: hidden;
  background-color: black;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--yrgo-black);
  outline: none;
}

.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
