:root {
  /* Colors */
  --yrgo-red: #f52a3b;
  --yrgo-dark-blue: #001a52;
  --yrgo-light-blue: #35d4d1;
  --yrgo-light-green: #c5ebd8;
  --yrgo-light-yellow: #fcfa58;
  --yrgo-grey: #e4e9eb8a;
  --yrgo-black: #000000;
}
