.container {
  padding: 2.25rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.logo > div {
  display: grid;
  place-content: center;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 9990;
  background-color: black;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.4s;
  opacity: 0.25;
}

.fade {
  transition: opacity 0.4s;
  opacity: 0;
}

.backdrop {
  transform: translateX(-100%);
}

.nav {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 9999;
  background: var(--yrgo-grey-100);
  color: var(--yrgo-black);
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  transition: all 0.4s;
}

.toggled {
  transition: all 0.4s;
  transform: translateX(-100%);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.space {
  margin-top: 4.375rem;
}

@media (min-width: 760px) {
  .logo {
    height: 3.75rem;
    width: 3.75rem;
  }

  .nav {
    width: 50vw;
    justify-content: flex-start;
    gap: 8.81rem;
  }

  .space {
    margin-top: 8.81rem;
  }

  .content {
    padding: 0;
  }
}
